[submodule "ref/fx-processor"]
	path = ref/fx-processor
	url = https://github.com/seungheondoh/fx-processor.git

[submodule "ref/others/MusiLingo"]
	path = ref/others/MusiLingo/repo
	url = https://github.com/zihaod/MusiLingo.git

[submodule "ref/others/U-SAM"]
	path = ref/others/U-SAM/repo
	url = https://github.com/Honee-W/U-SAM.git
[submodule "ref/others/MusiLingo/repo"]
	path = ref/others/MusiLingo/repo
	url = https://github.com/zihaod/MusiLingo.git
[submodule "ref/others/U-SAM/repo"]
	path = ref/others/U-SAM/repo
	url = https://github.com/Honee-W/U-SAM.git
