torch
torchaudio
torchcodec
torchvision
transformers
openai
librosa
matplotlib
laion-clap
ipywidgets
ipykernel
dasp_pytorch
dotenv
git+https://github.com/csteinmetz1/dasp-pytorch.git
pedalboard
scikit-optimize
soundfile
numpy
tqdm
optuna
resampy